@charset "utf-8";
/* CSS Document */
#activityImg img{
	width:300px;
	height: 200px;
	float:left;
	padding:1%;
	border:thin solid #CCC;}

#articleContent li{
	font-size:0.8em;
	color:#666;}
#articleTitle h2{
	line-height: 36px;
	padding-bottom: 0px;
}
.botton button{
	 color:#FFF;
	 background: url(login_title_img_before.jpg) repeat-x;
	 padding:2% 8%;
	 margin:0.5%;
	 font-weight:400;
	 font-size:1.2em;
	 font-family:"微软雅黑", "宋体";
	line-height:1em;
	border-radius:4px;
    border:1px solid #fff;
    -webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition:  box-shadow 0.30s ease-in-out;
	cursor:pointer;}
.botton button:active{
	background: url(login_title_img.jpg) repeat-x;}

#actTimeApply ul li{
	text-indent:32px;
	background:url(time.png) no-repeat 1px 5px;
	border-bottom: thin dashed #ccc;}
#actTimeApply a{
	color:#090;
	margin-left:5%;
	padding:3px 10px;
	text-decoration:underline;}
#down_load{
	background: url(../../images/20131108083717866_easyicon_net_128.png) no-repeat;
	background-size:3%;}
	@media screen and (max-width: 480px) {
		#down_load{background-size:8%;}
		#testClick1 button{width:80%; padding:4%;}
}
	