/*div.commonBanner*/
div.commonBanner {
    /*height: 297px;*/
    /*width:340px;*/
    overflow: hidden;
    position: relative;
}
div.commonBanner ul {
    height: 270px;
    position: absolute;
}
div.commonBanner ul li {
    float: left;
    width: 340px;
    height: 270px;
    overflow: hidden;
    position: relative;
    /*background: #000;*/
}
div.commonBanner ul li img {
    width: 100%;
    height: 100%;
}
div.commonBanner ul li a{
    margin:0;}
div.commonBanner ul li div {
    position: absolute;
    overflow: hidden;
}
div.commonBanner .btnBg {
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0;
    bottom: 2px;
    background: #000;
}
div.commonBanner .btn {
    position: absolute;
    width: 580px;
    height: 11px;
    padding: 5px 10px;
    right: 0;
    bottom: 7px;
    _bottom: 3px;
    text-align: right;
}
div.commonBanner .btn span {
    display: inline-block;
    _display: inline;
    _zoom: 1;
    width: 10px;
    height: 10px;
    _font-size: 0;
    margin-left: 12px;
    cursor: pointer;
    background: #fff;
}

div.commonBanner .btn h3{
    display: none;
    /*display:inline-block;*/
    padding:0 30px;
    color:#FFF;}

div.commonBanner .btn span.on {
    background: #fff;
}
div.commonBanner .preNext {
    width: 45px;
    height: 100px;
    position: absolute;
    top: 90px;
    background: url(sprite.png) no-repeat 0 0;
    cursor: pointer;
}
div.commonBanner .pre {
    left: 0;
}
div.commonBanner .next {
    right: 0;
    background-position: right top;
}
