@charset "utf-8";
/* CSS Document */

/*主页模式*/
body{
	/*background: url(common_background.jpg) repeat;*/
	background: url(bigbackground.jpg);/*
    font-family:"微软雅黑", "宋体",serif;*/
}
.container{
	/*background: url(indexBG.png) no-repeat;
	background-size: 100%;*/

}

/*
顶部浮动条
*/
.topBox {
	position: fixed;
	_position: inherit;
	display: block;
    top:0;
    left: 0;
    width:100%;
    height:32px;
    background:#f4f4f4;
    border-bottom:thin solid #dddddd;
    z-index:999;
}
.top:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.top{zoom:1}
.top{
    margin: 0 auto;
    width: 960px;
    color:#7f7f7f;
    font-size:14px;
    line-height: 32px;
    font-size: 13px;
}
.top div{
    float: left;
	margin:0 0.5%;
    overflow:  hidden;
}
.top .user {
    width: 19%;
    text-align: center;
}
.top a{
    color:#ff7800;
    text-decoration:underline;}
.top .newsNotice{
    width: 30%;
    _width:26%;
    padding-left:4%;
	background: url(announce.png) left center no-repeat;
	font-weight:600;
    white-space: nowrap;
    text-overflow:  ellipsis;
}
.top #searchNews{
	width:24%;
	margin-top: 4px;}

.searchinput{
	border-right-width: 0px;
	padding-left: 3px;
	width: 168px;
	font-family: arial;
	float: left;
	border-top-width: 0px;
	border-bottom-width: 0px;
	color: #636365;
	margin-left: 4px;
	font-size: 8pt;
	vertical-align: middle;
	border-left-width: 0px;
	margin-right: 3px;
}
.tab_search{
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	height: 25px;
	border-top: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	background: #fff;

}
.searchaction{
	width: 21px;
	float: left;
	height: 17px;
}
.tab_search td,th{
background-color:none;
border-bottom: none;
border-top:none;}

.top .share {
    width: 17%;
}
.top .share img {
    height: 32px;
    width: auto;
}

#header{
	position:relative;
	width:100%;
	padding-top:32px;
	_padding:0; 
	z-index:2;
}
.headTitle:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.headTitle{zoom:1}
.headTitle{
	width: 1080px;
	margin: 0 auto;}

#header h1,#header nav{
	float: left;
	display: block;
	
}
#header h1{
	width: 100%;
	background: url(titleBackground.jpg) no-repeat;
	height: 128px;
}
#header h1 span{
	display:none;}
/* PC menu */
#header nav{
	width:100%;
	height: 32px;
}
#header nav div.menu a{
    display: block;
}
.menu{
	position:relative;
	display:block;
	height:42px;
	font-size:14px;
	font-weight:bold;
	background:transparent url(blueslate_background.gif) repeat-x top left;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	text-transform:uppercase;}
.menu ul{
	margin:0px 0 0 14%;
	padding:0;
	list-style-type:none;
	width:auto;}
.menu ul li{
	display:block;
	float:left;
	margin:0 1px 0 0;}
.menu ul li a{
	display:block;
	float:left;
	color:#D5F1FF;
	text-decoration:none;
	padding:14px 36px 0 36px;
	height:28px;}
.menu ul li a:hover,.menu ul li a.current{
	color:#fff;
	background:transparent url(blueslate_backgroundOVER.gif) no-repeat top center;}


.mainPart{
	width:1080px;
	margin:0 auto;
	padding: 25px 0;
}
.clear{
	clear:both;}
footer,#tail{
	padding:10px 0;
	width:100%;
	text-align:center;
	font-size:11.2px;
	color:#666;
	line-height:19.2px;}

#tailTextfooter p{
	margin: 0 auto;

}

footer a{
	color:#9CC;}

/*首页或者文章页面模块*/
.mainPart{
    background:#fff;}
.module{
    padding:0;background: url(moduleBG.png) no-repeat;
    /*outline: thin solid #f0f0f0;*/
}
/*各栏小标题\more/链接*/
.module div.title {
    background: #f6f6f6; 
    border-bottom:thin solid #999999;
}
.module div.title h3{float: left;padding:8px 0; padding-left: 12px;border-bottom: medium solid #006cff;}
.module div.title p.more{float: right;margin:12px 12px 0 0;}
.module div.title p.more a{font-size: 8px;_font-size:11px;color: #666;}
.module div.title:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.module div.title{zoom:1}
.module h3 a{
    font-weight:600;
    font-size:15px;
    color:#2c4a66;}
.module h3 span{
	padding-left: 12px;
    color:#CCC;}
.module h3 a:hover{
    color:#036;}
.module input{
    padding:0 5px;
	line-height: 16px;}

.module .title a,.groupName a,.plan a{
    color:#333;
    font-size:13.6px;
    line-height:16px;
}
.module .title a:hover{
	color: #ffa200;
}
#publicGroup ul li.title a,#specialActivit ul li.plan a,#download ul li.title a{
	padding-left: 5px;
	display: block;
	width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	line-height: 32px;
}
.module.news ul li a,.module.railTitle ul li a{
	display: block;
	width: 95%;
	margin: 0 auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 11px;
	line-height: 30px;
}
/*文章页面*/
#content{
	float:left;
	display:block;
	width:65%;
	margin-left:2%;
	_margin-left:5px;}
.locateNav{
	padding-left:28px;
	font-size:12.8px;
	line-height:35.3px;
	background:url(location1.png) no-repeat;

	color:#666;}
.locateNav a{
	color:#333;}
.origin span{
	margin:1%;
	line-height:48px;
	font-size:12.8px;
	color:#999;}

#pageTurn{
	width:72%;
	margin:auto;}
#pageTurn ul li{
	float:left;
	padding:1% 2%;
	margin:1%;
	border:thin solid #CCC;
	background-color:#FFF;
	line-height:16px;}
#pageTurn ul li a{
	color:#333;}
#pageTurn ul li:hover{
	border:thin solid #0C3150;}
#pageTurn .selected_page{
	background:#0C3150;
	}
#pageTurn .selected_page a{
	color:#FFF;}
#article{
	border:thin solid #d7d7d7;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#FFF;
	margin:1% 0;}
#articleTitle{
	padding:3% 1% 4% 1%;
	border-bottom:thin dashed #CCCCCC;
	text-align:center;}
div.articleInformation{
	margin: 0 10px 20px 0;}
div.articleInformation span{
	font-size: 14px;
	color: #666;
}
#bdshare.bdshare_t{
	float:right;}
#bdshare.bdshare_t:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#bdshare.bdshare_t{zoom:1}
.sbtn{
	padding:5px 10px 3px 10px;
	background: #39F;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	color:#FFF;
	border:none;}
.sbtn:hover{
	background: #0CF;}
#articleContent{
	padding:3%;
	line-height:32px;
	font-size:15px;/*
	text-indent:32px;*/}

#articleContent img{
	width:90%;
	padding:0;
	margin: 0;
	float:none;
	border:none;
	position:inherit;}
#activityIntro{
	width: 50%;
	float: right;}/*
#articleTitle:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#articleTitle{zoom:1}*/

.article_content{
	text-indent:0;}
span.orginazition{
	color: #369;}
#relateArticle{
	padding:1%;
	border:thin solid #d7d7d7;
	background-color:#FFF;}
#rail{
	float:right;
	width:28.2%;
	display:block;
	padding:1%;
	margin-right:2%;
	/*border:thin solid #d7d7d7;
	border-radius:5px;*/
	background-color:#FFF;
}
#rail h3{
	font-size: 14px;
}
.railTitle{
	font-weight:800;
	color: #036;}
.railModule{
	margin:5% 0;
	}
.railModule img{
	width:100%;
	margin:1% 0;}
.railModule a,#relateArticle a{
	color:#333;
	font-size:12.8px;
	line-height:32px;}
.railModule li span,#relateArticle li span{
	margin:1%;
	font-size:9.6px;
	color:#CCC;}
.railModule li span.orginazition{
	color: #369;}
.textSelect{
	width:100%;
	font-size:12.8px;
	margin:1%;
	}
.textSelect li{
	float:left;
	margin:0 5%;}
#articleContent h3{
	margin:2% 0;
	font-family: "微软雅黑", "华文细黑", "幼圆",serif;
	border-top:thin solid #CCC;}

#projectSearch2{
	width: 95%;
	margin: 0 auto;
}
#projectSearch2 p{
	padding:3% 0;
	border-top: thin dashed #ccc;
	font-size:15px;
	font-weight:800;
	color:#F90;}
#projectSearch2 select{
	width:100%;
	font-size:13px;
	color: #333;
	margin:1.5% 0;}

#projectSearch form{
	font-size:13px;}
#projectSearch2 input.sinput{
	margin: 5px 0;
	width: 70%;
	font-size:13px;
	line-height: 22px;
}
#projectSearch2 input.sbtn{
	width: 22%;
	height: 26px;
}
#pageChange{
	border-top: thin dashed #CCCCCC;
	font-size:0.8%;
	padding:1% 3%;
	}
#pageChange a{
	color:#333;}
#previous,#next{
	display: block;
	width: 90%;
	height: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/**********活动招募状态、活动审核状态文字颜色***********/
.pass_Y{
	color:#090;}
.pass_N{
	color:#F00;}
.pass_U{
	color:#F30;}