@charset "utf-8";
/* CSS Document */

#header{
	border-bottom:medium solid #036;}
#header h1{
	height:95px;
	width:95%;
	margin:0;
	background: url(title-03.png) no-repeat;
	}

@media screen and (max-width: 480px) {
	#header h1{
	height:100px;
	background: url(title-02.png) no-repeat;}
	#backToIndex_L a{background:url(backToIndex.png) no-repeat right;}}
div.unfind{
	width:100%;
	height:auto;
	margin:auto;
	padding-top:200px;
	text-align:center;
	background: url(404.png) no-repeat center 50px;}

div.unfind_num span{
	font-size:6em;
	color: #666;
	font-family:Georgia, "Times New Roman", Times, serif;}
div.unfind_text{
	margin:20px 0 0 10px;
	line-height:2em;
	font-size:0.9em;
	color:#666;}
div.unfind_text p{
	font-size:1.5em;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	color:#F30;}
button{
	padding:5px 15px;
	border:none;
	background:#0094ff;
	color:#fff;
	font-size:0.9em;}