﻿@charset "utf-8";
/* CSS Document */
.mainPart{
	background:#fff;
	_background:#f6f6f6;}
#projectDisplay.module, #volunteer.module {
    _display:none;
}

/*注册登录*/
.login{
	display: block;
	float: left;
	width:220px;
	height:270px;
	margin-left: 2%;
	_margin-left: 5px;
	outline:thin solid #d0d0d0;
	background: url(moduleBG.png) no-repeat;}
.login legend{
	width:100%;
	padding:4% 0;
	background: #3dc200;
	color:#FFF;
	text-align:center;}
.login label{
	font-size:14px;
	line-height:28.8px;
}
.login_inside{
	height: 235px;
	color:#666;}
.login_inside input#username, .login_inside input#password, .login_inside label{
    display: block}
 .login_inside label{
	padding:0 0 0 15px;}
.login_inside input{
	padding:3px 5px;
	margin: 3px 0 3px 15px;
	width:180px;
	background-color:#f9f9f9;
	border-radius:4px;
    border:1px solid #909090;
	font-size:15px;
	color:#333;}
.login_inside input:focus{
	outline:none;
	background-color:#fff;
	border:#87C6F9 1px solid;
	box-shadow: 0 0 8px rgba(103, 166, 217, 1);
}
.login fieldset{
	padding: 15px 0 30px 0;
	border-bottom: thin dotted #999;
}
.sbtn{
	margin:8% 0 0 6%;
	_margin:15px 0 0 0;
	line-height:28px;
	font-size: 13px;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	color:#FFF;

	border-radius: 5px;
	padding:0 5px 0 22px;}
.sbtn a{
	color:#FFF;}
.login_inside a:hover{
	color:#FFF;
}
#login_sbtn{
	width:30%;
	background: url(login_sbtnBG.png) no-repeat #ff7e00;
	border: thin solid #f36d00;
	cursor:pointer;
	}
#login_sbtn:hover{
	background: url(login_sbtnBG2.png) no-repeat #f36d00;
}
#regist_sbtn{
    display: inline-block;
	background: url(regist_sbtnBG.png) no-repeat #3dc200;
	border: thin solid #33a200;
	cursor:pointer
}
#regist_sbtn:hover{
	background: url(regist_sbtnBG2.png) no-repeat #33a200;
}
/*
新闻=图片+文字
*/
.module.news{
	width:100%;
	}
div#newsImg{
	width:340px;
	height:270px;
	float: left;
	margin: 0 15px;
	_margin:0 12px;}
#news:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#news{zoom:1}
h4{
	font-size:24px;
	font-weight:100;
	padding-bottom:15px;
	font-family:"微软雅黑", "华文细黑", "幼圆";}

.module.news{
	float:left;
	display:block;
	width:42%;
	margin-bottom:1%;
	max-height:325px;
	overflow:hidden;}
.module.news ul li,#publicGroup ul li,#download ul li{
	border-bottom:thin dotted #C7DDE2;
	width:100%;
	line-height: 16px;}
#download ul li a{
	float: left;}
.module.news ul li span,#download ul li span{
	margin:1%;
	font-size:10px;
	color:#CCC; 
	line-height:32px;}
.news_time{
	width:70px;
	text-align:right;}
.module.news ul li span.orginazition{
	color: #369;}
.module.news ul li a{
	display: block;
	float: left;
	width: 78%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*
2分栏
*/
#VolunteersRecruit,#rank{
	float:left;
	margin:1% 0 0 2%;}
#VolunteersRecruit{
	width:70%;
}

#rank{
	width:21%;
	}


/*
公益活动报名
*/
#activity:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#activity{zoom:1}
#projectSearch{
	padding:10px;
	background:#d5d5d5;}
#projectSearch p{
	float:left;
	padding:5px 10px;
	font-size:12.8px;
	}
#projectSearch .search{
	float:right;}
.search{
	font-size:12.8px;}
.search .sinput{
	width:140px;}

#VolunteersRecruit h3 a{
	color:#F30;}
#VolunteersRecruit select{
	font-size:12.8px;
	color: #333;}
#VolunteersRecruit ul#recruit:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#VolunteersRecruit ul#recruit{zoom:1}
.recruit{
	float:left;
	width:32%;
	height: 60px;
	overflow: hidden;
	padding:1.5% 1px;
	_padding:0;
	margin: 0.5%;

	line-height: 16px;
	cursor:default;}
.recruit span{
	padding-left: 10px;
	display: block;

	width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.recruit:hover{
	background: #f2feff;
	/*border-bottom: medium solid #0090ff;*/
	-webkit-transition-property: background-color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;}

.activityName a{
	font-size:1em;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	color:#000;}
.state{
	font-size:12.8px;
	color: #090;}
.organizerTime{
	font-size:12.8px;
	color: #666;}

/*
排名
*/
#rank{
	height:220px;
	padding: 1%;
	line-height:28px;
	background: url(rank_bg.png) no-repeat;
	font-size: 13px;}

#rank ul{
	margin-top: 30px;
	background: url(bg-rank.gif) no-repeat 0 6px;
}
#rank li.rank{
	padding-left: 20px;
}
.rank_time{
	float:right;
	padding-right: 5px;
	font-size:12px;
	color:#666;}



/*
3分栏
*/
#right_contect:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#right_contect{zoom:1}
#right_contect{
	width:99%;}
	
#projectDisplay{
	display:block;
	width:96%;
}
#publicGroup,#specialActivit,#download{
	height: 269px;
	display: block;
	float: left;
	width:30%;}

#specialActivit,#download{
	margin-left:3%;}
	
#projectDisplay,#right_contect,#volunteer{
	margin:2%;}

#specialActivit li.plan_img a{
	display: block;
	text-align: center;
	margin: 10px 0;
	width: 100%;
}
#right_contect #publicGroup ul li a{
	width: 95%;
}
/***************志愿项目展示-bedin*/
#projectDisplay:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#projectDisplay{zoom:1}
li.project{
	display:block;
	float: left;
	width: 25%;
	/*_width:225px;*/}
li.project:after{display:block;clear:both;content:"";visibility:hidden;height:0}
li.project{zoom:1}
li.project img{
	width:212px;
	height: 125px;
	margin: 15px auto 0 auto;	
	_margin:0;}
.project_text{
	width:212px;
	height:80px;
	margin:0 0 10px 7px;
	line-height: 20px;
	cursor:default;}

.projectName{
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-size:17.6px;}
.projectName a{
	line-height: 36px;
	color: #369;
}
.projectDetail a,.projectVolunteer a{
	font-size:12.8px;
	color:#F30;
	}

span.projectTimePlace{
	width: 212px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size:12.8px;
	color: #666;
	}
/***********志愿项目展示-end********/
#volunteer:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#volunteer{zoom:1}
.plan img{
	width:100%;
	margin-top:5px;}
/* Frame */
#volunteerPhotoBox {
    /*height: 250px;*/
    margin-top: 20px;
    overflow: hidden;
}
#volunteerPhoto:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#volunteerPhoto{zoom:1}
#volunteerPhotoBox ul {
    list-style: none;
    margin:0;
    padding: 0;
    height: 100%;
    font-size: 50px;
}
#volunteerPhotoBox ul li {
    float: left;
    width: 180px;
    height: 100%;
    margin: 0 1px 0 0;
    padding: 0;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}
#volunteerPhotoBox ul li.active {
    color: #fff;
    background: #f2f2f2;
}
.volunteerPhoto img{
	width:80%;}
.volunteerPhoto span{
    display: block;
	padding:3.2% 3%;
	font-size:15px;
	color:#666;
	line-height:32px;}

/* Scrollbar */
.scrollbar {
    margin: 0 0 1em 0;
    height: 2px;
    background: #ccc;
    line-height: 0;
}

/* Pages */
.pages {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}
.pages li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
    background: #aaa;
}
.pages li.active {
    background: #666;
}
#friendLink:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
#friendLink{zoom:1;}	
#friendLink{
	display:block;
	width:100%;}
.link_title{
	padding:0.5% 0 3% 2.5%;
	margin:10px 0 10px 10%;
	color:#2c4a66;
	background:url(link.png) no-repeat;
	background-size:30%;
	line-height:24px;}
#friendLink img{
	padding:2px;}
#friendLink ul{
	text-align:center;
	margin:0 0 0 10%;
	overflow:hidden;}
#friendLink li,#friendLink h3{
	float:left;}
#friendLink li{
	margin:3px 0;
	}
.link span{
	display:none;}
