@charset "utf-8";
/* CSS Document */
#list h2{
	padding:2%;
	margin-bottom:10px;
	font-weight:400;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	color:#4ba5ae;
	border-bottom:thin solid #ccc;}
#list{
	border:thin solid #d7d7d7;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#FFF;
	padding:2% 3% 3% 3%;
	margin-top:1%;}

#list ul li{
	line-height:35px;
	font-size:13.5px;}
#textList li{
	border-bottom:thin dashed #999999;}
#list ul li a{
	width: 220px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color:#369;}
#list ul li a:hover { 
	text-decoration: none;
	color: #06C;}
#list ul li span.time{
	float:right;
	font-size:0.6em;
	color:#CCC;
	width:70px;}	
	@media screen and (max-width: 480px) {
		#list{
			border:none;}
		#list ul li{
			line-height:2.2em;
			font-size:0.9em;}}
.textSelect dt{
	line-height:2em;
	font-weight:bold;}
#list .textSelect dd{
	line-height:2em;}
.textSelect{
	width:100%;
	font-size:0.8em;
	margin:1% 0;}
.textSelect:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.textSelect{zoom:1}
.textSelect dl{
	display: block;
	float: none;
}
.textSelect dt,.textSelect dd{
	display: inline;
	}
.textSelect dd{
	margin:0 1%;
	line-height:1em;}
.textSelect dd a{
	padding: 3px 10px;
	color:#0C3150;}
.textSelect dd a:hover{
	outline: 2px solid #88e439;
	color:#88e439;}
.textSelect dd .selected{
	outline: 2px solid #88e439;
	background: url(sys_item_selected.gif) no-repeat right bottom;}

#activityList table{
	width:100%;}
#activityList th{
	line-height:2em;}

#activityList td{
	text-align:center;
	line-height:2em;
	font-size:0.9em;
	border:thin solid #CCC;}
.actNum{
	width:30%;}
.actNum a,.see a{
	color:#369;}

table,td{
margin: 0;
padding: 0;
vertical-align: middle;
color:#369;
}
tbody td,th{
background-color: #FFF;
border-bottom: 2px solid #B3DE94;
border-top: 3px solid #FFFFFF;}
tfoot td, tfoot th {
font-weight: bold;
text-align:center;}
thead th {
font-weight: bold;
text-align:center;}
.actState{
	color:#090;}
#activityList span{
	color:#090;}
	
tbody tr.odd th,tbody tr.odd td {
background-color: #F6F6F6;
border-bottom: 2px solid #67BD2A;}
	@media screen and (max-width: 480px) {
		#see,.see{display:none;}
		#actTime,.actTime{display:none;}}
/*志愿项目展示*/
.project{
	display:block;
	width:100%;
	min-height:158px;
	padding-top:2%;}
.project img{
	float:left;
	width:212px;
	height: 125px;
	padding:1%;
	border:thin solid #CCC;
	}
.project_text{
	float: left;
	margin-left: 20px;
	line-height:1.5em;}
.projectName{
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-size:1.2em;
	color:#039;}
.projectDetail a,.projectVolunteer a{
	font-size:1em;
	color:#F30;}
.projectTimePlace{
	font-size:0.9em;
	color: #666;}

#projectSearch p{
	padding:2% 0;
	font-size:0.9em;
	font-weight:800;
	color:#F90;}
#projectSearch select{
	width:70%;
	font-size:0.9em;
	color: #333;
	margin:1% 0;}

#projectSearch form{
	font-size:0.9em;}