@charset "utf-8";
/* CSS Document */

#area{
	width:60%;
	margin-left:0;}}
label{
	margin:1% 0.5% 0.5% 0.5%;
	text-align:right; 
	font-size:13.6px;}
.login_Part input{
	width:300px;
	height:28px;
	margin:0.5% 0 1.5% 0;
	padding:0 5px;
	font-size:13.6px;
	line-height:16px;
	background:#fff!important;
	border-radius:4px!important;
    border:1px solid #909090!important;
    -webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition:  box-shadow 0.30s ease-in-out; }
input:focus{
	 outline:none;
	background-color:#fff;
     border:#87C6F9 1px solid;
     box-shadow: 0 0 8px rgba(103, 166, 217, 1);}
     
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: #fff;
}

.login_single{
	width: 300px;
	background-color: rgba(255,255,255,0.6);
	padding:3%;
	margin:50px 0 0 750px;
	border:thin solid #CCC;
	border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	line-height:3em;}

.login_single legend{
	width:100%;
	border-bottom:thin solid #999;}
.login_single input{
	width:180px;
	height:1.8em;
}
.login_Part{
	height:390px;}

.login_single ul p{
	margin-left:3%;
	text-align:center;}
.login_single ul li{
	text-align:center;}
.login_single ul li label{
	font-size:1em;}


.register{
	text-align:center;
	margin:5% 0;
	font-size:0.9em;}
.register a{
	text-decoration:underline;
	padding:1%;
	color:#060;}

	.sbtn{
	margin:8% 0 0 6%;
	_margin:15px 0 0 0;
	line-height:28px;
	font-size: 13px;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	color:#FFF;

	border-radius: 5px;
	padding:0 5px 0 22px;}
.sbtn a{
	color:#FFF;}
#login_sbtn{
	margin:8% 0 0 40%;
	_margin:15px 0 0 0;
	line-height:28px;
	font-size: 13px;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	color:#FFF;

	border-radius: 5px;
	padding:0 5px 0 22px;

	width:30%;
	background: url(login_sbtnBG.png) no-repeat #ff7e00;
	border: thin solid #f36d00;
	cursor:pointer;
	}
#login_sbtn:hover{
	background: url(login_sbtnBG2.png) no-repeat #f36d00;
}
