.news_focus_img{
	position:absolute;	float:left;
	width:95px;	height:95px;
	margin:19px 0 0 0.4%;
	background:url(focus.png) no-repeat;	z-index:99;}
#zSlider{padding:0; margin:0; font-size:0.8em;}
img{border:0;}
#zSlider{margin:0px auto; width:100%; height:auto;  overflow:hidden;}
#picshow{position:relative; float:left; overflow:hidden; width:75%;}
#picshow_img{width:100%; height:auto; overflow:hidden; float:left;}
#picshow_img li{width:100%; height:auto; overflow:hidden; float:left; display:none;}
#picshow_img img{width:100%; height:auto;}
#picshow_tx{left:0px; width:100%; bottom:0px; position:absolute; height:90px; overflow:hidden;}
#picshow_tx li{background: url(picshow_bg.png) repeat; padding:9px 10px; height:70px; color:#fff; display:none;}
#picshow_tx li a{color:#fff;}
#picshow_tx li a:hover{text-decoration:underline;}
#picshow_tx li h3{ margin:13px 0;}
#picshow_tx li p{ color:#ccc; line-height:16px; height:16px; overflow:hidden;}
#select_btn{width:25%; height:12%; color:#111; float:right; display:inline; background-color: #F2FBFB;}

@media screen and (max-width: 480px) {
	#picshow{
	width:100%;}
	#select_btn{
    display:none;}}
#select_btn li{padding:3px 6px 0px 9px; width:95%; height:55px; border-top:1px solid #fff; cursor:pointer; }
#select_btn li:hover{background-color:#fff;}
#select_btn li.current{background-color:#fff;}
#select_btn li.current:hover{background-color:#fff;}
#select_btn a{color:#000;}
@media screen and (max-width: 1024px) {
	#select_btn li{padding:1px 2px 1px 2px; width:95%; height:37px; border-top:3px solid #fff; cursor:pointer;}}
#select_btn .select_text{ height:20px; font: normal 13px/16px 'Microsoft YaHei';  display:block; font-weight: bold;}
#select_btn .select_text:hover{text-decoration:underline;}
