@charset "utf-8";
/* CSS Document */

.btn{
	width:180px;
	margin-top:15px;
	padding:2% 3%;
	text-align:center;
	font-size:1em;
	color:#FFF;
	background: url(login_title_img_before.jpg) repeat-x 100%;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	border:none;}
		@media screen and (max-width: 480px) {
			.btn{
			padding:10px 30px;}}
.btn:active{
	background:url(login_title_img.jpg) repeat-x 100%;}
	
.toMine{
	width:30%;
	float:right;
	padding:4%;
	margin:1%;
	line-height:1.5em;
	background-color:#fff;
	border:thin solid #f1f1f1;}