@charset "utf-8";
/* CSS Document */
body{
	background-color:#cddfe1;}
.myheader{
	width:100%;
	height:100px;
	background:url(personal_title.png) no-repeat 33%;
	background-color:#0092FF;}
#top:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#top{zoom:1}
#myHome{
	width:100%;}
.myHome_content{
	width:90%;
	margin:0 auto;}

	.nav{margin-top:200px;}
	.nav *{
		text-decoration:none;
		font-size:9pt;
		
	}
	.nav * a:hover{
		background-color:#a1dfff;/* Êó±ê¾­¹ýÊ±µÄºìÉ«±³¾°£¬¿É×Ô¶¨Òå */
	}
	.menu_user{
		list-style:none;
		height:40px;
		width:100%;
		background-color:#0d9be5;
	}
	.nav{
		list-style:none;
		height:40px;
		width:1080px;
		margin:0 auto;
		background-color:#0d9be5;		
	}
	.nav li{
		float:left;
		border-left:1px solid #048ed6;
		border-right:1px solid #068cd3;
		border-top:1px solid #0498e6;
		border-bottom:1px solid #0498e6;
		position:relative;
	}
	.nav li a{
		color:#fff;
		height:38px;
		line-height:38px;
		font-weight:bold;
		padding:0 30px;
		blr:expression(this.onFocus=this.close());
		blr:expression(this.onFocus=this.blur());
		display:inline-block;
	}
	.nav li a:focus{ 
		-moz-outline-style: none; 
	}
	.nav li .sub-nav{
		position:absolute;
		top:39px;
		left:-1px;
		list-style:none;
		background-color:#37b3f5;
		display:none;
	}
	.nav li .sub-nav li{
		text-align:center;
		clear:left;
		width:140px;
		height:35px;
		line-height:35px;
		position:relative;
	}
	.nav li .sub-nav li a{
		height:34px;
		line-height:34px;
		width:138px;
		padding:0;
		display:inline-block;
	}
	
#Information,#myActivity{
	list-style-position:inside;}
#Information{
	list-style-image:url(information_gear_normal.png);}
#myActivity{
	list-style-image:url(myact.png);}

.contentField{
	padding:1%;
	background:#FFF;
	border:thin solid #CCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;}
	
h3{
	padding:2%;
	color:#4ba5ae;
	font-family:"微软雅黑", "华文细黑", "幼圆";}
h4{
	text-align:center;
	border-bottom:thin dashed #999999;
	color:#6CA5DD;}
input{
	width:85%;
	height:28px;
	margin:0.5% 0 1.5% 0;
	padding:0 5px;
	font-size:0.85em;
	line-height:1em;
	background-color:#f9f9f9;
	border-radius:4px;
    border:1px solid #909090;
    -webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition:  box-shadow 0.30s ease-in-out; }
	#searchNews .sbtn{
		width:25px;}
input.btn{
	width:180px;
	padding:0 3%;
	margin: 25px;
	text-align:center;
	font-size:1em;
	color:#FFF;
	background: url(login_title_img_before.jpg) repeat-x 100%;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	border:none;}
.news_time{
	float:right;
	font-size:0.6em;
	color:#CCC;
	margin:1% 0 0 0;}

.textList,#identity ul{
	width:50%;
	margin:auto;}
.textList li a{
	color:#333;
	line-height:2em;
	font-size:0.9em;}
.textList li{
	border-bottom:thin dashed #ccc;}

#information ul li {
	width: 50%;
	margin: 0 auto;
	line-height: 50px;}
div.contentField div#information ul,#code ul form{
	width:96%;
	margin:auto;
	padding:2%;
	text-align:center;}
#information .team{
	width:75%;
	margin:1% 0 2% 0;}
#code{
	padding-bottom:20%;
	background:url(password_background.png) no-repeat left bottom;}
#code ul{
	width: 50%;
}
#part_more{
	margin-right:5%;
	text-align:right;}
label{
	/*padding:5px 0 0 0;*/}
.back{
	width:10%;
	margin-left:2%;
	padding:1% 0 1% 4%;
	font-size:0.9em;
	font-weight:bold;
	background:url(back.png) no-repeat;
	}
.back a{
	color:#666;}
.back:hover{
	padding-left:3.5%;}
.contentField{
	min-height:450px;}
.contentField table{
	width:90%;
	margin:2% 0 0 5%;
	text-align:center;
	line-height:2em;
	font-size:0.9em;
	background:#f9f9f9;}
.contentField tr,.contentField th,.contentField td{
	border: thin solid #CCC;}
.contentField th{
	background:#0B4E6F;
	color:#FFF;}
.hoster,.hoste_name,.act_state{
	width:17%;}
.empty{
	width:35%;}
.cancel a{
	padding:2%;
	color:#f00;
	text-decoration:underline;}
.actState{
	margin:2% 0;
	font-size:0.9em;
	text-align:center;}
.act_state{
	margin-left:5%;}
.attention{
	margin:2% 5% 2% 2%;
	font-size:0.8em;
	text-align:right;
	color:#999;}		
	

.TotalTime{
	text-align:right;
	margin-right:5%;}
.TotalTime span{
	line-height:2em;}
.passTotalTime{
	color:#0092FF;
	font-size:2em;}
tr:hover{
	background-color:#fff;}




