@charset "utf-8";
div#picnews div.slideBox {
    position: relative;
    width: 670px;
    height: 300px;
    overflow: hidden;
}

div#picnews div.slideBox ul.items {
    position: absolute;
    float: left;
    background: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

div#picnews div.slideBox ul.items li {
    float: left;
    background: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

div#picnews div.slideBox ul.items li a {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    line-height: normal !important;
    padding: 0px !important;
    border: none /*For IE.ADD.JENA.201206300844*/;
}

div#picnews div.slideBox ul.items li a img {
    margin: 0px !important;
    width: 100%;
    height: 100%;
    padding: 0px !important;
    display: block;
    border: none /*For IE.ADD.JENA.201206300844*/;
}

div#picnews div.slideBox div.tips {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #000;
    overflow: hidden;
}

div#picnews div.slideBox div.tips div.title {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}

div#picnews div.slideBox div.tips div.title a {
    color: #FFF;
    font-size: 14px;
    line-height: 50px;
    margin-left: 10px;
    text-decoration: none;
    display: block;
    width: 210px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div#picnews div.slideBox div.tips div.title a:hover {
    text-decoration: underline !important;
}

div#picnews div.slideBox div.tips div.nums {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}

div#picnews div.slideBox div.tips div.nums a {
    display: inline-block;
> float : left /*For IE.ADD.JENA.201206300844*/;
    width: 10px;
    height: 10px;
    background-color: #FFF;
    text-indent: -99999px;
    margin: 20px 10px 0px 0px;
}

div#picnews div.slideBox div.tips div.nums a.active {
    background-color: #093;
}

