@charset "utf-8";
/* CSS Document */

/*志愿项目展示*/
.project{
	float:left;	
	width:33%;}
.project img{
	width:80%;
	height:auto;
	margin:1%;
	}
.project_text{
	line-height:1em;}
.projectName{
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-size:1.5em;
	color:#039;}
.projectDetail a,.projectVolunteer a{
	font-size:1em;
	color:#F30;}
.projectTimePlace{
	font-size:1em;
	color: #666;}