﻿@charset "utf-8";
/* CSS Document */
.mainPart{
	padding-bottom: 60px;
}
#area{
	width:80%;
	margin-left:10%;}
	@media screen and (max-width: 768px) {
	#area{
	width:95%;
	margin:auto;}}
#area h2{
	padding:2%;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-weight:100;}
#area h3{
	border-top: thin dashed #999999;
	color:#036;
	margin:1% 0;
	padding:1%;}
h4{
	padding:1%;
	margin-bottom:1%;
	border-bottom:thin dotted #999999;
	float:left;
	width:98%;
}
#activate ul,#information ul,#subRgt{
	width:75%;
	float:left;
	margin-left:20%;
	text-align:center;}
#activate ul li,#information ul li{
	text-align:left;}


label{
	margin:1% 3.5% 0.5% 0.5%;
	text-align:right; 
	float:left; 
	width:65px;
	line-height:2em;
	font-size:0.85em;}
div.mainPart input{
	width:60%;
	height:28px;
	margin:0.5% 0 1.5% 0;
	padding:0 5px;
	font-size:0.85em;
	line-height:1em;
	background-color:#f9f9f9;
	border-radius:4px;
    border:1px solid #909090;
    -webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition:  box-shadow 0.30s ease-in-out; }
	#searchNews .sbtn{
		width:25px;}

input:focus{
	outline:none;
	background-color:#fff;
    border:#87C6F9 1px solid;
    box-shadow: 0 0 8px rgba(103, 166, 217, 1);}

div.mainPart input.btn{
	width:180px;
	padding:0 3%;
	margin: 25px;
	text-align:center;
	font-size:1em;
	color:#FFF;
	background: url(login_title_img_before.jpg) repeat-x 100%;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	border:none;}

.btn:active{
	background:url(login_title_img.jpg) repeat-x 100%;}

#backToIndex a{
	font-family:"微软雅黑", "华文细黑", "幼圆";
	color: #eee;}
#backToIndex a:hover{
	color: #6FF;
	margin-left:5px;
	transition: all .05s linear;}

#item{
	height:200px;
	width:100%;}
.star{
	color:#F00;}

#item textarea{
	width:90%;
	height:70%;
	margin:0 5%;
	overflow-y: scroll; 
	scrollbar-face-color:#F00;
	scrollbar-shadow-color: #3D5054;
	scrollbar-highlight-color: #C3D6DA;
	scrollbar-3dlight-color: #3D5054;
	scrollbar-darkshadow-color: #85989C;
	scrollbar-track-color: #95A6AA;
	scrollbar-arrow-color: #FFD6DA;
	font-size:0.8em;}
	@media screen and (max-width: 480px) {
		#item textarea{
			width:99%;
			height:70%;
			margin:0;}}	
#identity li{
	text-indent: 25px;
	color:#333;
	font-size:0.8em;
	line-height:2em;}

#activate h3 span{
	font-size:0.8em;
	color: #999;
	}
#personal_text{
	width:60%;}

span.student_number{
	color:#F00;
	font-weight:bold;}
.btn{
	margin:8px 0;
	height:30px;}

.massages{
	float:right;
	width:25%;
	text-align:left;
	line-height:3em;
	font-size:0.8em;
	color: #666;}
