@charset "utf-8";
/* CSS Document */

.sccess,.fall{
	width:100%;
	font-size:0.9em;
	margin-top:3%;}
.sccess .prompt,.fall .prompt{
	font-size:1.8em;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	line-height:2em;
	}
.sccess .prompt{
	color:#090;}
.fall .prompt{
	color:#f00;}

.succeed,.falled{
	padding-left:12%;
	width:45%;
	float:left;}
.succeed{
	background:url(yes.png) no-repeat;}
.falled{
	background: url(error.png) no-repeat;}
	@media screen and (max-width: 480px) {
			.sccess .prompt{font-size:1.2em;}
			.succeed{float:none; width:65%;padding:0 0 0 20%;margin:auto; background-size:20%;}
			.toMine{float:none; width: 80%;margin:auto;}}
	
#VolunteersRecruit h3{
	padding:1%;
	border-top: thin dashed #999;
	font-size:0.9em;}
#VolunteersRecruit h3 a{
	color:#F30;}
#VolunteersRecruit select{
	font-size:0.8em;
	color: #333;}
#projectSearch,.more{
	display: none;}
.clear{
	margin-bottom:18px;}
.recruit{
	float:left;
	width:18%;
	height: 60px;
	overflow: hidden;
	padding:1.5% 0.5%;
	background-color:rgba(202,224,230,0.4);
	border: medium solid #fff;}
	@media screen and (max-width: 480px) {
		#VolunteersRecruit select,.recruit{width:98%;}}
.recruit:hover{
	background-color:#fff;}
.activityName a{
	font-size:1em;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	color:#000;}
.state{
	font-size:0.8em;
	color: #090;}
.organizerTime{
	font-size:0.8em;
	color: #666;}