form{
    font-family:"微软雅黑", "华文细黑", "幼圆";
}
input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="number"],input[type="tel"],textarea{
    margin: 10px 0 5px 0px;
    padding: 4px 5px;
    width: 74%;
    height: 20px;
    font-size: 0.9em;
    color:#333;

	background-color:#f9f9f9;
	border-radius:4px;
    border: solid 1px #aacfe4;
    -webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition:  box-shadow 0.30s ease-in-out;
}
.editor {
    min-height: 245px;
    width: 74%;
    padding: 4px 5px;
}
input:focus,textarea:focus{
    outline:none;
    background-color:#fff;
    color: #000000;
    border:#87C6F9 1px solid;
    box-shadow: 0 0 8px rgba(103, 166, 217, 1);	}
input[type="submit"],input[type="reset"],input[type="button"]{
    display: block;
	padding:5.5px 35px;
	
	word-spacing:5px;
	font-size:0.85em;
}
textarea{
    margin-left: 20px;
    width:70%;
    display: block;
    height:150px;
}
button{
    padding:4px 15px;

    word-spacing:5px;
    font-size:0.85em;}
input[type="file"],input[type="hidden"]{
    border:thin solid #999;
    background:#fff;
    font-size:0.85em;}
input[type="checkbox"]{
}
select{
    font-size:0.85em;
}

fieldset{
    padding:5px;
}
legend{
	padding-bottom: 5px;
	font-size:16px;
	color:#333;
	font-weight: bold;
}
label{
	width: 120px;
    display: inline-block;
    padding:0 5px;
    min-width: 80px;
    text-align: center;
    font:bold 16px/22px '微软雅黑';
    color:#666;
}
label:after {
    content: ":";
}

.dataTable {
    width: 70%;
    min-width: 560px;
    margin:0 15px;
    background:#FFF;
}
th{
    font-weight:400;}
thead tr th,tfoot tr th{
    font-weight:bold;}
.dataTable tr{
    width: 20px;
    height:25px;
    border:thin solid #CCC;
    color: #333;
}
.dataTable tbody tr{
    font-size:0.85em;
    line-height:2em;
    color:#666;}
.dataTable tbody tr:nth-child(even) {
    background: #FFF;
}
.dataTable tbody tr:nth-child(odd) {
    background: #E7F1F1;
}
.dataPage tr:nth-child(even) {
    background:#CCF;
}
.dataTable th, .dataTable td{
    text-align: center;
    border:thin solid #CCC;
}
.dataTable thead {
    border:thin solid #CCC;
    background-color: #d5d5d5;
    color: #333;
}

fieldset img{
	width: 250px;
}